
.card{
    background-color:#32383e ; 
    border: 0 solid rgba(0,0,0,.6);
    box-shadow: 0 .5rem 1rem #00000026!important;
    color: #aaa !important;

    .card-title{
        color: #aaa;
    }

    // .body{
    //     padding: 1rem!important;
    // }

  .genre {
    background-color: #7a8288;
    color: #272b30!important;
  }


}




/*.body{
    background-color: #32383e;
    
}*/

