.details{
    color: #aaa;
    .btn-ftg-blue{
        color: #fff;
        background-color:#4799eb ;
        border-color:#4799eb ;
        padding: .75rem 1rem;
    }

   .play{
    padding: .75rem 1rem;
   }
}