/* You can add global styles to this file, and also import other style files */
$bgcolor:#272b30;

$borderColor:#a8a8a83d;
$borderHeight:1px;
$secondFontColor:#949cb0;
body{
    background-color: #272b30;
}
