
.jumbotron {
    background: url(../../assets/imges/paladins.b44d33d6e7ee1ba8.png);
    background-repeat: no-repeat;
    background-color: #1c1e22;
    background-position: top;
    background-size: contain;
    border-radius: 0.3rem;
   // margin-bottom: 1rem;
    border-bottom: 1px solid rgba(0,0,0,.6);
    padding: 4rem 2rem;

    h1{
        color: white;
    }

    p{
        font-size: 1.25rem;
        font-weight: 300;
    }

    .ftg-blue {
        color: #49acff!important;
    }
    .buttom{
    color: aqua;
    }
}

.card{
    background-color: #272b30;
    .game-card{
        box-shadow: 0 .5rem 1rem #00000026!important;
        background-color: #32383e;
        transition: all .2s ease-in-out;
        .card-title{
            color: #aaa;
        }
        &:hover{
            transform:scale(1.03);
        }
    } 

}



// .game-card{
//     box-shadow: 0 .5rem 1rem #00000026!important;
// }  


